body {
  color: red;
}

html,
body {
  font-size: 20px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

md-toolbar h1{
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-toolbar mnd-toolbar-tools h1{
  font-size: 1.250em;
  font-weight: 400;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

#content{
  padding: 5px 40px 0 40px;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
